<!DOCTYPE html>
<html>
<head>
  <title>Navya</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id ="container">
<div id ="header">
<%= render 'shared/header' %>
</div>
<div id="body">
<%= yield %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</div>
<%= render 'shared/footer' %>
</div>
</body>
</html>
