<table class="header-container">
	<tr>
		<td class="header-side">
			<img class="leaves" src="../assets/leaves.png"/>
		</td>
		<td class="header-text-container">
			<div class="header">Navya</div>
			<div class="subheader">notícias num só lugar</div>
		</td>
		<td class="header-side">
			<!--<img class="rss" src="assets/rss.png"/>-->
		</td>
	</tr>
</table>

<div class="title"><%= @category %></div>
<div>
	<dl class="nice vertical tabs">
		<% if @news.count != 0 %>
			
			<% @news.each do |news| %>
			<dd id ="<%= news.id%>" class="news-title">
				<a>
					<%= news.title.html_safe %>
				</a>
			</dd>
			<dd id="<%= news.id%>-content" class="news-content">
				<a class="news-text" href="<%= news.url.html_safe %>">
					<%= news.text.html_safe %>
				</a>
				<% if user_signed_in? %>
				<button class="report" id="<%= news.id %>" align="right">Report</button>
				<%end%>
			</dd>
			<% end %>
			
		<% else %>

			<dd><a href="#" class="active">Não existem notícias nesta categoria.</a></dd>

		<% end %>
	</dl>
</div>

<div id="myModal" class="reveal-modal">
	<br/>
     <h2>Escolha a nova categoria!</h2>
     <select id="standardDropdown">
							<option>Economia e Política</option>
							<option>Desporto</option>
							<option>Cultura e Lazer</option>
							<option>Ciência e Tecnologia</option>
							<option>Sociedade</option>
						</select>

     <a class="close-reveal-modal"><div class="blue button" onclick="save()">Guardar</div></a>
</div>
