<table class="header-container">
	<tr>
		<td class="header-side">
			<img class="leaves" src="assets/leaves.png"/>
		</td>
		<td class="header-text-container">
			<div class="header">Navya</div>
			<div class="subheader">notícias num só lugar</div>
		</td>
		<td class="header-side">
			<!--<img class="rss" src="assets/rss.png"/>-->
		</td>
	</tr>
</table>

<div class ="main-container">
	<div class="container">
	  <div class="row">
	    <div class="four columns">
	      <div class="title">Economia e Politica</div>
	    	<div class="content">
		      	<% @economia.each do |news| %>
			        <ul>
			        	<li>
			        		<%= link_to news.title.html_safe, news.url.html_safe %>
			        	</li>
			        </ul>
		        <%end%>
		        <div class = "see-more"><%= link_to "See more", :controller => "more", :action => "index", :id => "1"%></div>
			</div>			
	    </div>
	    <div class="four columns">
	      <div class="title">Desporto</div>
	      <div class="content">
		      	<% @desporto.each do |news| %>
			        <ul>
			        	<li>
			        		<%= link_to news.title.html_safe, news.url.html_safe %>
			        	</li>
			        </ul>
		        <% end %>
		         <div class = "see-more"><%= link_to "See more", :controller => "more", :action => "index", :id => "2"%></div>
			</div>			
	    </div>
	    <div class="four columns">
	      <div class="title">Cultura e Lazer</div>
	      <div class="content">
		      	<% @cultura_lazer.each do |news| %>
			        <ul>
			        	<li>
			        		<%= link_to news.title.html_safe, news.url.html_safe %>
			        	</li>
			        </ul>
		        <%end%>
		         <div class = "see-more"><%= link_to "See more", :controller => "more", :action => "index", :id => "3"%></div>
			</div>			
	  </div>
	</div>

	  <div class="row">
	  	<div class="four columns">
	      <div class="title">Ciencias e Tecnologias</div>
	     <div class="content">
		      	<% @ciencias_tecnologia.each do |news| %>
			        <ul>
			        	<li>
			        		<%= link_to news.title.html_safe, news.url.html_safe %>
			        	</li>
			        </ul>
		        <%end%>
		        <div class = "see-more"><%= link_to "See more", :controller => "more", :action => "index", :id => "4"%></div>
			</div>	
			</div>		
	    <div class="four columns">
	      <div class="title"> Sociedade </div>
	      <div class="content">
		      	<% @sociedade.each do |news| %>
			        <ul>
			        	<li>
			        		<%= link_to news.title.html_safe, news.url.html_safe %>
			        	</li>
			        </ul>
		        <%end%>
		         <div class = "see-more"><%= link_to "See more", :controller => "more", :action => "index", :id => "5"%></div>
			</div>			
	  </div>
	</div>
</div>

<div class="footer">
</div>