<div class="tab">
	<ul class="breadcrumbs">
		<li <%= "class=current" unless params[:id] != nil %>><%= link_to "Home", root_path%></li>
		<li <%= "class=current" unless params[:id] != "1" %>><%= link_to "Economia e Política", more_index_path(1)%></li>
		<li <%= "class=current" unless params[:id] != "2" %>><%= link_to "Desporto", more_index_path(2)%></li>
		<li <%= "class=current" unless params[:id] != "3" %>><%= link_to "Cultura e Lazer", more_index_path(3)%></li>
		<li <%= "class=current" unless params[:id] != "4" %>><%= link_to "Ciências e Tecnologia", more_index_path(4)%></li>
		<li <%= "class=current" unless params[:id] != "5" %>><%= link_to "Sociedade", more_index_path(5)%></li>
		<div class="logo">Navya</div>
	</ul>
</div>