<table class="header-container">
	<tr>
		<td class="header-side">
			<div class="leaves">
				<%= image_tag("leaves.png")%>
			</div>
		</td>
		<td class="header-text-container">
			<div class="header">Navya</div>
			<div class="subheader">notícias num só lugar</div>
		</td>
		<td class="header-side">
			<!--<img class="rss" src="assets/rss.png"/>-->
		</td>
	</tr>
</table>

<div class ="main-container">
	<div class="container">
		<div class="row">
			<div class="five columns centered">
				<div class="header form-title">Sign up</div>
			</div>
		</div>
		<div class="row">
			<div class="three columns centered">
					<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
					  <%= devise_error_messages! %>

					  <div><%= f.label :email %><br />
					  <%= f.email_field :email %></div>

					  <div><%= f.label :password %><br />
					  <%= f.password_field :password %></div>

					  <div><%= f.label :password_confirmation %><br />
					  <%= f.password_field :password_confirmation %></div>

					  <div><%= f.submit "Sign up" %></div>
					<% end %>
					<%= render :partial => "devise/shared/links" %>
			</div>
		</div>
	</div>
</div>